<h2>New Comment</h2>
<hr>
<br>

<div class="version-content">
  <%= @version.content %>
</div>
<span class="content-expand">more</span>
<br>
<br>

<%= form_for(@comment, url: version_comment_path(@version, @comment), method: :post) do |f| %>
  <%= f.text_area :body %>
  <%= f.submit 'Comment' %>
<% end %>
<br>
