<%= @document.context %>
<%= @concepts.first %>


<div class="compare-modal">

    <div class="you-think compare-side">
      <p>You Think You're Writing About:</p>
      <p></p>
    </div>

    <div class="comparrow">
      <%= icon('arrows-h') %>
    </div>

    <div class="we-think compare-side">
      <p>We Think You're Writing About:</p>
      <p></p>
    </div>
    <%= link_to 'Make a New Version?',  %>
</div>




