<div class="compare-modal">
  <div class='compare-row'>
    <div class="you-think compare-cell">
      <h3>You Think You Said</h3>
      <h4><%= @document.context %></h4>
    </div>

    <div class="we-think compare-cell">
      <h3><em>We</em> Think You Said</h3>
      <h4><%= @concepts.first %></h4>
    </div>
  </div>

  <div class="gradient">
    <h3>Gradient based on Message Positivity</h3>
    <h4>(charcoal = negativity)</h4>
  </div>

  <div class="sentiment-gradient-bar"></div>
  <div id="sentVal" class="hidden"><%= @alchemist.sentiment %></div>
</div>
