
<% if @user == current_user %>
  <h2>Welcome, <%= @user.name %>! </h2>
  <hr>
  <%= link_to 'Settings', edit_user_registration_path %>
  <br>
<% else %>
  <h2><%= @user.name %>'s Profile Page</h2>
<% end %>
<br>

<h2>Your Documents:</h2>

<%= render partial: 'partials/document', collection: @documents %>
