<body class="inner">

<% if @user == current_user %>
  <h2>
    Welcome, <%= @user.name %>!
    <a href="<%= edit_user_registration_path %>">
      <i class="fa fa-cog"></i>
    </a>
  </h2>
  <br>
<% else %>
  <h2><%= @user.name %>'s Documents</h2>
<% end %>
<br>

<% if current_user.id == @user_id %>
  <h2>Your Documents:</h2>
<% end %>

<%= render partial: 'partials/document', collection: @documents %>

</body>
