<body class="unique">

<h2>Forgot your password?</h2>

<br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><h3>Email</h3>
  <%= f.email_field :email, autofocus: true %></div><br />

  <div><%= f.submit "Send Instructions" %></div>
<% end %>

</body>
