$text-dark-grey: rgb(22,22,22);

$base-bg: #2B2B2B;
$main-bg: white;

$text-lighter-grey: rgb(72, 71, 67) + 40;

$highlight: #2ECC40;

$info-txt: #2ECC40;
$info-bg: $highlight;

$warning-txt: white;
$warning-bg: #2b2b2b;
