$text-dark-grey: rgb(22,22,22);

$base-bg: #2B2B2B;
$main-bg: white;

$text-lighter-grey: rgb(72, 71, 67) + 40;

$highlight: #2ECC40;

$info-txt: #2ECC40;
$info-bg: $highlight;

$warning-txt: rgb(147, 43, 53);
$warning-bg: rgb(255, 249, 136) + 15;

// #2B2B2B charcoal
// #2ECC40 green
