<% @documents.each do |document| %>
  <h2><%= link_to document.title, document_path(document) %> by <%= document.user.name %></h2>
  <h3><%= document.context %></h3>
  <h4><%=h truncate(document.versions.last.content, :length => 80) %></h4>
  <br>
<% end %>
