<body class="inner">

<h2>Give Feedback</h2>
<hr>
<br>


<% @documents.each do |document| %>
  <div class="document-summary">

    <h3><%= link_to document.title, document_path(document) %></h3>
    <p class="document-header"><%= document.user.name %></p>
    <p><%= h truncate(document.versions.last.content, :length => 240) %></p>

  </div>
<% end %>

</body>