.compare-modal {
  @include outer-container;
  background-color: $main-bg;
  top: 20%;
  margin: 0 auto;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.compare-cell {
  padding: 20px;
  color: #555;
}

.you-think {
  background-color: #A2FF40;
  color: black;
}

.we-think {
  background-color: #2ECC40;
  color: black;
}

.comp-arrow {
  margin-left: 7.5%;
  font-size: 3em;
  text-align: center;
  .arrow{
    font-size: 1.25em;
  }
}

.compare-clear {
  @include clearfix;
  clear: both;
  text-align: center;
}

.compare-hide {
  visibility: hidden;
}

.gradient {
  padding: 20px;
  h3 {
    color: white;
  }
}
