.comment {
  font-size: $small-font;
  text-align: right;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: solid $base-bg 1px;

  p {
    text-align: left;
  }

  .comment-header {
    color: $info-txt;
  }

}

#new_comment {
  display: none;
}

.content-expand{
  color: $info-txt;
}

.dropdown{
    padding: 20px;
    // background:blue;
    // color:white;
    display:none;
}

.dropdown li{
    display:block;
    margin-bottom:10px;
    color:white;
}