.document-summary {
  text-align: left;
  margin-bottom: 40px;

  .document-header {
    color: $info-txt;
  }

  p {
    text-align: left;
    font-size: $small-font;
  }

}

#document-partial {
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
    }
  }
}
