.highlight-high {
  background-color: $info-bg  ;
  color: $info-txt - 80;
  padding: 0.125em;
  border-radius: 10px;
  font-size: 1.15em;
}

.highlight-medium {
  background-color: $info-bg + 13 ;
  color: $info-txt - 70;
  padding: 0.125em;
  border-radius: 10px;
  font-size: 1.10em;
}

.highlight-low {
  background-color: $info-bg + 17 ;
  color: $info-txt - 60;
  padding: 0.125em;
  border-radius: 10px;
  font-size: 1.05em;
}

.version-content {

}

h3 .pointer {
  font-size: 1.5em;

  &:hover{
    color: $info-txt;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
}

.sentiment-gradient-bar{
  margin: 0 auto;
  width: 100%;
  background: -webkit-linear-gradient(0deg,green, red);

  opacity: 0.5;
  // background: linear-gradient(0deg, red,green);
  // @include background(linear-gradient(red, green) );
  // width: 12em;
  height: 2em;
}



.oval-thought {
  position:relative;
  width:270px;
  padding:50px 40px;
  margin:1em auto 80px;
  text-align:center;
  color:#fff;
  background:#075698;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
}

.oval-thought p {font-size:1.25em;}

/* creates the larger circle */
.oval-thought:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:50px;
  width:30px;
  height:30px;
  background:#075698;
  /* css3 */
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

/* creates the smaller circle */
.oval-thought:after {
  content:"";
  position:absolute;
  bottom:-30px;
  left:30px;
  width:15px;
  height:15px;
  background:#075698;
  /* css3 */
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}






















