.highlight-high {
  background-color: $info-bg  ;
  color: $info-txt - 80;
  padding: 0.125em;
  border-radius: 10px;
  font-size: 1.15em;
}

.highlight-medium {
  background-color: $info-bg + 13 ;
  color: $info-txt - 70;
  padding: 0.125em;
  border-radius: 10px;
  font-size: 1.10em;
}

.highlight-low {
  background-color: $info-bg + 17 ;
  color: $info-txt - 60;
  padding: 0.125em;
  border-radius: 10px;
  font-size: 1.05em;
}

.version-content {

}
