.highlight {
  background-color: $info-bg ;
  color: $info-txt;
  padding: 0.125em;
  border-radius: 10px;
}

// $highlight
// $info-txt
// $info-bg

.compare-cons {
  display: inline-block;
}

.compare-context {
  float: left;
  width: 45%;
  margin: 1.625em 0;
  padding: 20px;
  border: 1px solid #bbb;
  border-top: 30px solid #F5F5F5;
  color: #555;
  border-radius: 5px;
}

.compare-concept {
  float: right;
  width: 45%;
  margin: 1.625em 0;
  padding: 20px;
  border: 1px solid #bbb;
  border-top: 30px solid #F5F5F5;
  color: #555;
  border-radius: 5px;
}
