<body class="unique">
  <% if @show_splash %>
    <div id="landing-facade">
      <div id="facade-center">
        <h1 class="logo">Should I Send This?</h1>
      </div>
    </div>
  <% end %>
</body>
